<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta property="description" content="An analytics platform for trending Reddit threads.">
  <meta property="og:site_name" content="AlienDB">
  <meta property="og:image" content="https://aliendb.info/img/favicon-192x192.png">
  {% block metadata %}
  {% endblock %}
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
  <link rel="stylesheet" href="/css/main.min.css" type="text/css">
  <script src="/js/main.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <div class="container">
      <a class="navbar-brand" href="/">AlienDB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if page_category == 'posts' %}active{% endif %}" href="/">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page_category == 'subreddits' %}active{% endif %}" href="/subreddits">Subreddits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page_category == 'about' %}active{% endif %}" href="/about">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
</body>

</html>