{% extends "_base.html" %}
{% block title %}About - AlienDB{% endblock title %}
{% block metadata %}
<meta property="og:type" content="website">
<meta property="og:title" content="About AlienDB">
<meta property="og:description" content="AlienDB is an analytics platform for trending Reddit threads...">
{% endblock %}
{% block content %}
<div class="header">
  <div class="container-fluid align-self-center">
    <h1>About AlienDB</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="about">
    <div class="row justify-content-sm-center">
      <div class="col-xs-12 col-md-6 col-lg-5 col-xl-4">
        <h4>Overview</h4>
        <p>AlienDB is an analytics platform for Reddit. It tracks and stores
            historical data for the top threads on Reddit in order to provide
            karma trends, comment stats, and subreddit profiles. This website
            is <b>not</b> affiliated with Reddit, and can only access data which
            is publicly available.
        </p>
        <h4>Method</h4>
        <p>AlienDB monitors the top 100 submissions on
            <a href="https://reddit.com/r/all">/r/all</a> and periodically records
            information including each submission's rank, its number of comments,
            and its current karma. Each comment is processed to record cumulative
            gold given and special user presence. Comment text is <b>not</b>
            stored. Additionally, submissions are analyzed using the
            <a href="http://nltk.org">Natural Language Toolkit</a> (NLTK) and
            <a href="https://textblob.readthedocs.io">TextBlob</a> for recording
            the polarity and subjectivity of submission titles and comments.
        </p>
      </div>
      <div class="clearfix d-sm-none"></div>
      <div class="col-xs-12 col-md-6 col-lg-5 col-xl-4">
        <h4>Subreddit Profiles</h4>
        <p>Statistics from individual submissions are also used to provide
            subreddit averages. It is important to note that only submissions
            which reach the top of Reddit are included in these averages, so
            subreddit averages should not be used as a way to describe a subreddit
            as a whole. Rather, it is a useful tool to determine whether an
            individual submission is significantly different than others which
            were also highly upvoted from the subreddit.
        <h4>Contact</h4>
        <p>AlienDB was created by xgi as part of
          <a href="https://faltro.com">Faltro</a>. You can contact me in the
          following places:
        </p>
        <ul>
          <li>Reddit: <a href="https://reddit.com/u/xgi">https://reddit.com/u/xgi</a></li>
          <li>GitHub: <a href="https://github.com/xgi">https://github.com/xgi</a></li>
          <li>Email: <a href="mailto:jake@faltro.com">jake@faltro.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- container -->
{% endblock content %}
