{% extends "_base.html" %}
{% block title %}AlienDB{% endblock title %}
{% block metadata %}
<meta property="og:type" content="website">
<meta property="og:title" content="AlienDB">
<meta property="og:description" content="AlienDB is an analytics platform for trending Reddit threads.">
{% endblock %}
{% block content %}
{% load humanize %}
{% load stats_tags %}
<div class="header">
  <div class="container-fluid align-self-center">
    <h1>AlienDB</h1>
    <p class="lead text-center">An analytics platform for trending Reddit
      threads. <a href="/about">Learn more.</a>
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-sm-center">
    <div class="col-12 col-md-11 col-lg-10">
      <div class="loader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div id="cumulative_activity_front_chart"></div>
    </div>
    <div class="col-12 col-md-11 col-lg-10">
      <br />
      <hr />
      <div class="row justify-content-sm-center">
        <div class="col-6 col-md-3">
          <div class="card card-stat text-center">
            <h3>{{ cumulative_stats.submissions|short_quantity }}</h3>
            <span>Total Posts</span>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card card-stat text-center">
            <h3>{{ cumulative_stats.score|short_quantity }}</h3>
            <span>Total Karma</span>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card card-stat text-center">
            <h3>{{ cumulative_stats.comments|short_quantity }}</h3>
            <span>Total Comments</span>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="card card-stat text-center">
            <h3>{{ cumulative_stats.subreddits|short_quantity }}</h3>
            <span>Total Subreddits</span>
          </div>
        </div>
      </div>
      <hr />
      <br />
    </div>
    <div class="col-12">
      <div class="row justify-content-sm-center">
        <div class="col-12 col-md-11 col-lg-6 col-xl-7 table-container-col">
          <div class="bs-component">
            <table class="table table-hover">
              <h2>Top posts of the week</h2>
              <thead class="bg-primary">
                <tr>
                  <th id="score">Score</th>
                  <th id="title">Title</td>
                  <th id="subreddit" class="d-none d-md-table-cell">Subreddit</th>
                </tr>
              </thead>
              <tbody>
                {% for submission in top_submissions %}
                <tr>
                  <td id="score">{{ submission.score|short_quantity }}</td>
                  <td id="title">
                    <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
                  </td>
                  <td id="subreddit" class="d-none d-md-table-cell"><a
                      href="/r/{{ submission.subreddit.name }}">r/{{ submission.subreddit.name }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-none d-lg-block col-lg-4 col-xl-3 table-container-col">
          <div class="bs-component">
            <table class="table table-hover">
              <h2>Active subreddits</h2>
              <thead class="bg-info">
                <tr>
                  <th id="rank">#</th>
                  <th id="name">Name</th>
                </tr>
              </thead>
              <tbody>
                {% for subreddit in active_subreddits %}
                <tr>
                  <td id="rank">{{ forloop.counter }}</td>
                  <td id="name"><a href="/r/{{ subreddit.name }}">r/{{ subreddit.name }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12 col-md-11 col-lg-10 table-container-col">
          <div class="bs-component">
            <hr />
            <table class="table table-hover">
              <h2>Current top 100 on /r/all</h2>
              <thead class="bg-primary">
                <tr>
                  <th id="rank">#</th>
                  <th id="delta">Δ</th>
                  <th id="title">Title</th>
                  <th id="subreddit" class="d-none d-md-table-cell">Subreddit</th>
                </tr>
              </thead>
              <tbody>
                {% for submission in cur_submissions|slice:":100" %}
                <tr>
                  <td id="rank">{{ submission.rank }}</td>
                  <td id="delta"><span class="{{ submission.delta_color }}">{{ submission.delta_string }}</span></td>
                  <td id="title">
                    <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
                    <span title="{{ submission.created_at|date:'r' }} (UTC)">
                      submitted {{ submission.created_at|timesince }} ago</span>
                  </td>
                  <td id="subreddit" class="d-none d-md-table-cell">
                    <a href="/r/{{ submission.subreddit.name }}">r/{{ submission.subreddit.name }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container -->
  <script>
    cumulative_charts('day');
  </script>
  {% endblock content %}