{% extends "_base.html" %}
{% block title %}Search - AlienDB{% endblock title %}
{% block content %}
{% load humanize %}
<div class="header header-oneline">
  <div class="container-fluid">
    <div class="row justify-content-sm-center">
      <div class="col-xs-12 col-md-11 col-lg-10">
        <h1>Search AlienDB</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-sm-center">
    <div class="col-xs-12 col-md-11 col-lg-10">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Search</h3>
          <div class="col-xs-12 col-md-8 col-lg-5">
            <form>
              <!-- regular settings -->
              <div class="form-group">
                <input class="form-control" type="text" name="q" value="{{ query }}" placeholder="Search">
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">Sort by</label>
                <div class="col-10">
                  <select class="form-control" name="order_by">
                    <option value="relevance" {% if order_by == "relevance" %}selected{% endif %}>Relevance</option>
                    <option value="karma" {% if order_by == "karma" %}selected{% endif %}>Karma</option>
                    <option value="comments" {% if order_by == "comments" %}selected{% endif %}>Number of comments</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-2 col-form-label">Show from</label>
                <div class="col-10">
                  <select class="form-control" name="time">
                    <option value="all" {% if time == "all" %}selected{% endif %}>All time</option>
                    <option value="today" {% if time == "today" %}selected{% endif %}>Today</option>
                    <option value="week" {% if time == "week" %}selected{% endif %}>This week</option>
                    <option value="month" {% if time == "month" %}selected{% endif %}>This month</option>
                    <option value="year" {% if time == "year" %}selected{% endif %}>This year</option>
                  </select>
                </div>
              </div>

              <!-- advanced settings -->
              <p>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#advanced-settings">
                  Show advanced settings ▼
                </button>
              </p>
              <!-- advanced section open by default if settings were changed -->
              {% if subreddits is None or subreddits == '' %}
              <div class="collapse" id="advanced-settings">
              {% else %}
              <div class="collapse show" id="advanced-settings">
              {% endif %}
                <div class="form-group row">
                  <label class="col-3 col-sm-2 col-form-label">Subreddit filter</label>
                  <div class="col-9 col-sm-10">
                    <input class="form-control" type="text" name="subreddits" value="{{ subreddits }}" placeholder="Subreddits">
                    <small class="form-text text-muted">Enter names of subreddits, separated by commas.</small>
                  </div>
                </div><br />
              </div>

              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if query %}
  <div class="row justify-content-sm-center">
    <div class="col-xs-12 col-md-11 col-lg-10">
      <p>Found {{ submissions|length }} matches for "{{ query }}"</p>
    </div>
  </div>
  {% if submissions|length > 0 %}
  <div class="row justify-content-sm-center">
    <div class="col-xs-12 col-md-11 col-lg-10">
      <div class="bs-component">
        <table class="table table-striped table-hover table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th class="table-caption" colspan="4">Search results</th>
            </tr>
          </thead>
          <thead class="thead-inverse">
            <tr>
              <th id="karma">Karma</th>
              <th id="title">Title</th>
              <th id="subreddit" class="hidden-sm-down">Subreddit</th>
            </tr>
          </thead>
          <tbody>
            {% for submission in submissions|slice:":100" %}
            <tr>
              <td id="karma">{{ submission.score|intcomma }}</th>
              <td id="title">
                <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
                <span title="{{ submission.created_at|date:'r' }} (UTC)">submitted {{ submission.created_at|timesince }} ago</span>
              </td>
              <td id="subreddit" class="hidden-sm-down"><a href="/subreddit/{{ submission.subreddit.name }}">r/{{ submission.subreddit.name }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
</div> <!-- container -->
{% endblock content %}
