{% extends "_base.html" %}
{% block title %}{{ submission.title }} - AlienDB{% endblock title %}
{% block metadata %}
<meta property="og:type" content="website">
<meta property="og:title" content="AlienDB - {{ submission.title }}">
<meta property="og:description" content="Analytics for this Reddit post on AlienDB.">
{% endblock %}
{% block content %}
{% load humanize %}
{% load stats_tags %}
<div class="header">
  <div class="container-fluid align-self-center">
    <div class="row justify-content-sm-center">
      <div class="d-none d-md-block col-md-2 col-lg-2">
        <div class="row justify-content-sm-center">
          {% if submission.rank == -1 %}
          <h1>#???</h1>
          {% else %}
          <h1>#{{ submission.rank }}</h1>
          {% endif %}
        </div>
        <div class="row justify-content-sm-center">
          <span>Peak: {{ submission.rank_peak }}</span>
        </div>
      </div>
      <div class="d-sm-none col-12">
        <div class="row justify-content-center">
          <div class="col-3">
            {% if submission.rank == -1 %}
            <h1>#???</h1>
            {% else %}
            <h1>#{{ submission.rank }}</h1>
            {% endif %}
          </div>
          <div class="col-9">
            <p class="card-text">Submitted to
              <a href="/r/{{ submission.subreddit.name }}">/r/{{ submission.subreddit.name }}</a>
              on {{ submission.created_at|date }} at {{ submission.created_at|time }} UTC</p>
          </div>
          <div class="col-12">
            <h4>{{ submission.title }}</h4>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block col-12 col-md-10 col-lg-8 col-xl-7">
        <h4>{{ submission.title }}</h4>
        <p class="card-text">Submitted to
          <a href="/r/{{ submission.subreddit.name }}">/r/{{ submission.subreddit.name }}</a>
          on {{ submission.created_at|date }} at {{ submission.created_at|time }} UTC</p>
      </div>
    </div>
  </div>
</div>
<div class="subheader">
  <div class="container-fluid align-self-center">
    <div class="subheader-tabs nav nav-tabs" role="tablist">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="row justify-content-center">
            <div class="col-6 col-md-3 col-lg-2">
              <a class="btn btn-success nav-link active" id="overview-tab" href="#overview" data-toggle="tab"
                role="tab">Overview</a>
            </div>
            <div class="col-6 col-md-3 col-lg-2">
              <a class="btn btn-secondary nav-link" id="details-tab" href="#details" data-toggle="tab"
                role="tab">Details</a>
            </div>
            <div class="col-6 col-md-3 col-lg-2">
              <a class="btn btn-secondary nav-link" id="sentiment-tab" href="#sentiment" data-toggle="tab"
                role="tab">Sentiment</a>
            </div>
            <div class="col-6 col-md-3 col-lg-2">
              <a class="btn btn-secondary nav-link" id="comments-tab" href="#comments" data-toggle="tab"
                role="tab">Comments</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-sm-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="tab-content">
        <div class="tab-pane active" id="overview">
          <!-- overview tab -->
          <div class="row justify-content-sm-center">
            <div class="col-12 col-md-8 col-lg-9">
              <div class="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div id="submission_activity_chart"></div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
              <div class="row justify-content-center">
                <div class="col-6 col-lg-12">
                  <div class="card card-stat">
                    <h3>{{ submission.score|intcomma }}</h3>
                    <span>Karma</span>
                  </div>
                </div>
                <div class="col-6 col-lg-12">
                  <div class="card card-stat">
                    <h3>{{ submission.num_comments|intcomma }}</h3>
                    <span>Comments</span>
                  </div>
                </div>
                <div class="col-6 col-lg-12">
                  <div class="card card-stat">
                    <h3>{% widthratio submission.upvote_ratio 1 100 %}%</h3>
                    <span>Upvote Ratio</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <br />
              <hr /><br />
              <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                  <div class="card card-stat">
                    <h3>{{ lifetime|timestamp }}</h3>
                    <span>spent in the top 100</span>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="card card-stat">
                    <h3>{{ rise_time|timestamp }}</h3>
                    <span>before reaching the top 100</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="details">
          <!-- details tab -->
          <div class="row justify-content-sm-center">
            <div class="col-12 col-md-4 col-lg-3">
              <div class="row justify-content-center">
                <h6>Details</h6>
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Domain</td>
                      <td>{{ submission.domain }}</td>
                    </tr>
                    <tr>
                      <th>Flair text</td>
                      <td>{{ submission.link_flair_text }}</td>
                    </tr>
                    <tr>
                      <th>Upvote ratio</td>
                      <td>{{ submission.upvote_ratio }}</td>
                    </tr>
                    <tr>
                      <th>ID</td>
                      <td><a href="//reddit.com/{{ submission.id }}">{{ submission.id }}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row justify-content-center">
                <h6>Modifiers</h6>
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Stickied</td>
                      <td>{{ submission.stickied }}</td>
                    </tr>
                    <tr>
                      <th>NSFW</td>
                      <td>{{ submission.over_18 }}</td>
                    </tr>
                    <tr>
                      <th>Spoiler</td>
                      <td>{{ submission.spoiler }}</td>
                    </tr>
                    <tr>
                      <th>Locked</td>
                      <td>{{ submission.locked }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
              <div class="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div id="submission_upvote_ratio_chart"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="sentiment">
          <!-- sentiment tab -->
          <div class="row justify-content-sm-center">
            <div class="col-12 col-md-6">
              <div class="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div id="submission_polarity_chart"></div>
            </div>
            <div class="col-12 col-md-6">
              <div class="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div id="submission_subjectivity_chart"></div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="comments">
          <!-- comments tab -->
          <div class="row justify-content-sm-center">
            <div class="col-12 col-md-6">
              <div class="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div id="submission_special_users_chart"></div>
            </div>
            <div class="col-12 col-md-6">
              <div class="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
              <div id="submission_gilded_chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- container -->
<script>
  submission_charts('{{ submission.id }}');

  // properly change active tab
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    console.log("here!");
    $(e.target).addClass('btn-success');
    $(e.target).removeClass('btn-secondary');
    $(e.relatedTarget).addClass('btn-secondary');
    $(e.relatedTarget).removeClass('btn-success');
    $(e.relatedTarget).removeClass('show');
    $(e.relatedTarget).removeClass('active');
  });
</script>
{% endblock content %}