{% extends "_base.html" %}
{% block title %}Subreddits - AlienDB{% endblock title %}
{% block content %}
{% load humanize %}
<div class="container-fluid">
  <div class="row justify-content-sm-center">
    <div class="col-xs-12 col-md-11 col-lg-10">
      <div class="bs-component">
        <table class="table table-striped table-hover table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th class="table-caption" colspan="4">Most popular subreddits</th>
            </tr>
          </thead>
          <thead class="thead-inverse">
            <tr>
              <th id="submissions">Posts</th>
              <th id="karma">Karma</th>
              <th id="comments" class="hidden-sm-down">Comments</td>
              <th id="name">Name</th>
            </tr>
          </thead>
          <tbody>
            {% for subreddit in subreddits|slice:":100" %}
            <tr>
              <td id="submissions">{{ subreddit.tracked_submissions|intcomma }}</td>
              <td id="karma">{{ subreddit.score|intcomma }}</td>
              <td id="comments" class="hidden-sm-down">{{ subreddit.num_comments|intcomma }}</td>
              <td id="name"><a href="/subreddit/{{ subreddit.name }}">r/{{ subreddit.name }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- container -->
{% endblock content %}
