{% extends "_base.html" %}
{% block title %}r/{{ subreddit.name }} - AlienDB{% endblock title %}
{% block metadata %}
<meta property="og:type" content="website">
<meta property="og:title" content="AlienDB - /r/{{ subreddit.name }}">
<meta property="og:description" content="Analytics for /r/{{ subreddit.name }} on AlienDB.">
{% endblock %}
{% block content %}
{% load humanize %}
{% load stats_tags %}
<div class="header">
  <div class="container-fluid align-self-center">
    <h1>/r/{{ subreddit.name }}</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-sm-center">
    <div class="col-12 col-lg-11 col-xl-10">
      <div class="row justify-content-sm-center">
        <div class="col-12 col-md-12 col-xl-4">
          <div class="row justify-content-sm-center">
            <div class="col-12">
              <div class="card subreddit-overview">
                <div class="card-block">
                  <div class="card-body">
                    <h4 class="card-title">{{ subreddit.title }}</h4>
                    <p class="card-text">{{ subreddit.description }}</p>
                    <p class="card-text">
                      <small>
                        <a href="//reddit.com/r/{{ subreddit.name }}">View /r/{{ subreddit.name }} on Reddit.</a>
                      </small>
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted" title="{{ subreddit.updated_at|date:'r' }} (UTC)">Last updated {{ subreddit.updated_at|timesince}} ago</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 col-xl-6">
              <div class="card card-stat text-center">
                <h3>{{ subreddit.tracked_submissions|short_quantity }}</h3>
                <span>Posts</span>
              </div>
            </div>
            <div class="col-6 col-md-3 col-xl-6">
              <div class="card card-stat text-center">
                <h3>{{ subreddit.score|short_quantity }}</h3>
                <span>Karma</span>
              </div>
            </div>
            <div class="col-6 col-md-3 col-xl-6">
              <div class="card card-stat text-center">
                <h3>{{ subreddit.num_comments|short_quantity }}</h3>
                <span>Comments</span>
              </div>
            </div>
            <div class="col-6 col-md-3 col-xl-6">
              <div class="card card-stat text-center">
                <h3>{% widthratio subreddit.average_upvote_ratio 1 100 %}%</h3>
                <span>Upvoted</span>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-md-block col-md-12 col-xl-8">
          <div class="loader">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          <div id="subreddit_activity_chart"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col-12 col-md-6 col-xl-5 table-container-col">
      <hr />
      <table class="table table-hover">
        <h2>Recent posts</h2>
        <thead class="bg-primary">
          <tr>
            <th id="karma">Karma</th>
            <th id="comments">Comments</th>
            <th id="title">Title</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in recent_submissions %}
          <tr>
            <td id="karma">{{ submission.score|intcomma }}</td>
            <td id="comments">{{ submission.num_comments|intcomma }}</td>
            <td id="title">
              <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <div class="row justify-content-sm-center">
        <div class="col-12 table-container-col">
          <hr />
          <table class="table table-hover">
            <h2>Agreeable posts</h2>
            <thead class="bg-success">
              <tr>
                <th id="ratio">Ratio</th>
                <th id="karma">Karma</th>
                <th id="title">Title</th>
              </tr>
            </thead>
            <tbody>
              {% for submission in agreeable_submissions %}
              <tr>
                <td id="ratio">{{ submission.upvote_ratio|percentage }}</td>
                <td id="karma">{{ submission.score|intcomma }}</td>
                <td id="title">
                  <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <hr />
        </div>
        <div class="col-12 table-container-col">
          <table class="table table-hover">
            <h2>Controversial posts</h2>
            <thead class="bg-danger">
              <tr>
                <th id="ratio">Ratio</th>
                <th id="karma">Karma</th>
                <th id="title">Title</th>
              </tr>
            </thead>
            <tbody>
              {% for submission in controversial_submissions %}
              <tr>
                <td id="ratio">{{ submission.upvote_ratio|percentage }}</td>
                <td id="karma">{{ submission.score|intcomma }}</td>
                <td id="title">
                  <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col-12 col-md-6 col-lg-5">
      <hr />
      <div class="loader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div id="subreddit_polarity_chart"></div>
      <hr />
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <hr />
      <div class="loader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div id="subreddit_subjectivity_chart"></div>
      <hr />
    </div>
  </div>
  <br />
  <div class="row justify-content-sm-center">
    <div class="col-12 col-md-11 col-lg-10 table-container-col">
      <table class="table table-hover">
        <h2>Top posts from /r/{{ subreddit.name }}</h2>
        <thead class="bg-primary">
          <tr>
            <th id="karma">Karma</th>
            <th id="comments">Comments</th>
            <th id="title">Title</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in top_submissions %}
          <tr>
            <td id="karma">{{ submission.score|intcomma }}</td>
            <td id="comments">{{ submission.num_comments|intcomma }}</td>
            <td id="title">
              <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
              <span title="{{ submission.created_at|date:'r' }} (UTC)">submitted {{ submission.created_at|timesince}}
                ago</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- container -->
<script>
  subreddit_charts('{{ subreddit.name }}');
</script>
{% endblock content %}