{% extends "_base.html" %}
{% block title %}r/{{ subreddit.name }} - AlienDB{% endblock title %}
{% block metadata %}
<meta property="og:type" content="website">
<meta property="og:title" content="AlienDB - /r/{{ subreddit.name }}">
<meta property="og:description" content="Analytics for /r/{{ subreddit.name }} on AlienDB.">
{% endblock %}
{% block content %}
{% load humanize %}
<div class="header header-oneline">
  <div class="container-fluid">
    <div class="row justify-content-sm-center">
      <div class="col-xs-12 col-md-11 col-lg-10">
        <h1>/r/{{ subreddit.name }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-sm-center">
    <div class="col-6 col-md-3 col-xl-2">
      <div class="card card-inverse card-primary text-center">
        <div class="card-block">
          <h5>{{ subreddit.tracked_submissions }}</h5>
          <span>Posts</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xl-2">
      <div class="card card-inverse card-primary text-center">
        <div class="card-block">
          <h5>{{ subreddit.score|intcomma }}</h5>
          <span>Karma</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xl-2">
      <div class="card card-inverse card-primary text-center">
        <div class="card-block">
          <h5>{{ subreddit.num_comments|intcomma }}</h5>
          <span>Comments</span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xl-2">
      <div class="card card-inverse card-primary text-center">
        <div class="card-block">
          <h5>{% widthratio subreddit.average_upvote_ratio 1 100 %}%</h5>
          <span>Upvoted</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-sm-center">
    <div class="col-xs-12 col-md-11 col-lg-10">
      <div class="bs-component">
        <table class="table table-striped table-hover table-bordered">
          <thead class="thead-inverse">
            <tr>
              <th class="table-caption" colspan="4">Top posts from /r/{{ subreddit.name }}</th>
            </tr>
          </thead>
          <thead class="thead-inverse">
            <tr>
              <th id="karma">Karma</th>
              <th id="comments">Comments</th>
              <th id="title">Title</th>
            </tr>
          </thead>
          <tbody>
            {% for submission in submissions|slice:":100" %}
            <tr>
              <td id="karma">{{ submission.score|intcomma }}</td>
              <td id="comments">{{ submission.num_comments|intcomma }}</td>
              <td id="title">
                <a href="/submission/{{ submission.id }}">{{ submission.title }}</a><br />
                <span title="{{ submission.created_at|date:'r' }} (UTC)">submitted {{ submission.created_at|timesince }} ago</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- container -->
{% endblock content %}
