/* Fonts */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v13/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* General */

body {
  padding-top: 72px;
  font-family: 'Lato', Arial, sans-serif;
}

h2, h5{
  color: #fff;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

/* Navbar */

.navbar {
  min-height: 72px;
  padding: 0;
}

.navbar .container-fluid {
  margin: 0;
  width: 100%;
}

.nav-item {
  font-size: 1.2em;
}

.navbar-toggler {
  color: white;
  border-color: white !important;
}

.navbar-brand.hidden-md-up, .navbar-toggler {
  margin-top: 1rem;
}

@media (max-width: 1023px) {
  .navbar-nav {
    margin-top: 0.5rem;
  }
}

/* Page header */

.header {
  display: flex;
  min-height: 150px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #263238;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.header h1 {
  color: white;
  font-weight: bold;
}

.lead a {
  color: #2196F3;
}

.lead a:hover {
  text-decoration: underline;
}

.container-spaced {
  padding-top: 1rem;
}

/* Table */

.table-caption {
  border-bottom: 0 !important;
}

th#rank, th#delta, th#karma, th#comments, th#submissions {
  width: 1rem;
  text-align: center;
}

td#rank, td#delta, td#karma, td#comments, td#submissions {
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
}

td#subreddit {
  font-size: 1.1em;
  vertical-align: middle;
}

td#title, td#name {
  font-size: 1.1em;
}

td#title span {
  font-size: 0.8em;
}

/* Backgrounds */

/*.bg-custom {
  background-color: #451E76 !important;
  border-color: #381169;
}*/

.bg-custom {
  background-color: #6A1B9A !important;
  border-color: #4B367C;
}

.bg-custom .navbar-brand {
  color: #fff;
}

.bg-custom a {
  color: #aaa;
}

.bg-custom a:hover {
  color: #fff;
}

.bg-custom .dropdown-item {
  color: #333;
}

/* Cards */

.card {
  margin-bottom: 1rem;
}

.card-inverse a {
  color: #fff;
}

.card-inverse a:hover,
.card-inverse a:visited {
  color: #ddd;
}

.subreddit-overview .card-block .card-text {
  font-size: 1.2em;
}

/* Tabs */

.nav-tabs-custom:before {
  display: block;
  content: '';
  height: 24px;
  border-right: 1px solid #ddd;
}

.nav-tabs-custom:after {
  display: block;
  content: '';
  height: 24px;
  border-right: 1px solid #ddd;
}

.nav-tabs-custom {
  border: 1px solid transparent;
}
.nav-tabs-custom .nav-link,
.nav-tabs-custom .nav-link:focus {
  border: 1px solid transparent;
  border-right: 1px solid #ddd;
  background-color: transparent;
  color: #666;
  transition: all 0s;
}
.nav-tabs-custom .nav-link:hover,
.nav-tabs-custom .nav-link:focus:hover {
  border: 1px solid #ddd;
  color: #2196F3;
  transition: all 0s;
}
.nav-tabs-custom .nav-link.active,
.nav-tabs-custom .nav-link.active:focus {
  border: 1px solid #ddd;
  border-right: none;
  color: #2196F3;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

/* About page */

.about {
  font-size: 1rem;
}

.about p {
  text-align: justify;
}

.about ul {
  list-style: none;
}

/* Loading spinner */

.loader {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.loader > div {
  background-color: #999;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loader .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Error message */

.error {
  text-align: center;
}
